<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ui.unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="ui" type="Ektron.Cms.Framework.UI.Configuration.UiConfigurationSection, Ektron.Cms.Framework.UI" />
    <section name="ektron.cacheProvider" type="Ektron.Cms.Caching.Provider.CacheConfiguration, Ektron.Cms.ObjectFactory" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    <sectionGroup name="ektron.framework.services" type="Ektron.Cms.FrameworkConfigurationGroup, Ektron.Cms.ObjectFactory">
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
      <section name="framework" type="Ektron.Cms.FrameworkConfigurationSection, Ektron.Cms.ObjectFactory" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net1211">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <ektron.cacheProvider defaultProvider="webCache">
    <providers>
      <add name="webCache" cacheTimeSeconds="300" type="Ektron.Cms.Providers.Caching.WebCacheProvider, Ektron.Cms.Providers" />
    </providers>
  </ektron.cacheProvider>
  <ui.unity configSource="Ektron\Config\ektron.cms.framework.ui.unity.config" />
  <ui configSource="Ektron\Config\ektron.cms.framework.ui.config" />
  <ektron.framework.services>
    <unity configSource="Ektron\Config\ektron.cms.framework.unity.config" />
    <framework defaultContainer="Default" childContainer="WCF" />
  </ektron.framework.services>
  <appSettings>
    <add key="ek_ServicesPath" value="http://texaschildrenspediatrics.vmldev.com/workarea/services/" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>